@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 250px 5fr;
    grid-template-rows: 20vh 80vh;
}

.header{
    position: relative;
    z-index: 1;
    box-shadow: 3px 0px 10px #ff432a;
    background-color: #c90064;
}

.sidebar{
    position: relative;
    z-index: 0;
    box-shadow: 1px 0px 10px #8037f5;
    background-color: #5925ac;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    background-image: url("../assets/91655.jpg");
    background-size: cover;
    background-position: center center;
}

.sidebar__item{
    font-family: Roboto;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar__item--hover{
    cursor: pointer;
    color: #f59847;
}

.sidebar__header{
    font-size: 1.5rem;
    margin: 35px 0 50px 0;
}

.sidebar__items{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 45px);
}

.sidebar__icon{
    filter: invert(100%) sepia(99%) saturate(301%) hue-rotate(147deg) brightness(104%) contrast(115%);
    height: 25px;
    width: auto;
    margin-right: 15px;
}

.sidebar__icon--hover{
    filter: invert(61%) sepia(64%) saturate(609%) hue-rotate(333deg) brightness(107%) contrast(92%);
}

.sidebar__icon--bigger{
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.content{
    position: relative;
}

.img-attribution{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 0.8rem;
}

.img-attribution a{
    text-decoration: none;
    color: white;
}